{% extends "userLayout.html" %}
{% block title %}
{{title}}
{% endblock %}

{% block content %}

<table class="table-striped table-bordered">
    <tr><th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Image
        </th></tr>
    {% for product in products %}
    <tr><td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.category}}</td>
        <td><img src="static/pictures/{{product.filepath}}" style="width:100px; height:75px"></td>
        <td><a href="/addTocart/{{product.id}}">Add to cart</a>
       
        </td>
    </tr>


    {% endfor %}






</table>

<a href="/viewCart">view cart</a>




{% endblock %}